 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 210px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-list-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 210px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-5 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-image-6 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-image-7 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-image-8 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-list-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 210px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-image-9 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-1 .u-image-10 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-1 .u-image-11 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-1 .u-image-12 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-list-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-4 {
  min-height: 210px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 0;
}

.u-section-1 .u-image-13 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 0;
}

.u-section-1 .u-image-14 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 0;
}

.u-section-1 .u-image-15 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 0;
}

.u-section-1 .u-image-16 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-list-5 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-1 .u-repeater-5 {
  min-height: 210px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 0;
}

.u-section-1 .u-image-17 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 0;
}

.u-section-1 .u-image-18 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 0;
}

.u-section-1 .u-image-19 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 0;
}

.u-section-1 .u-image-20 {
  height: 135px;
  width: 240px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 173px;
  }

  .u-section-1 .u-list-2 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 173px;
  }

  .u-section-1 .u-list-3 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 173px;
  }

  .u-section-1 .u-list-4 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 173px;
  }

  .u-section-1 .u-list-5 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1927px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 326px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-list-2 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 375px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-list-3 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 375px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 375px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-list-5 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 375px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1947px;
  }

  .u-section-1 .u-list-5 {
    margin-top: 20px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-5 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }
}@font-face {
  font-family: 'CinemaFull';
  font-style: normal;
  font-weight: 400;
  src: url(CinemaFull.ttf);
}
